{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | {{ participant.pseudo }}{% endblock %}

{% block body %}
    <h1>{{ participant.pseudo }}</h1>
        <div class="p-infos-show">
            <div>Prénom: {{ participant.prenom }}</div>
            <div>Nom: {{ participant.nom }}</div>
            <div>Téléphone: {{ participant.telephone }}</div>
            <div>Email: {{ participant.email }}</div>
            <div>Campus: {{ participant.campus.nom }}</div>
        </div>
    <button id="btt"><a href="{{ path('main_home') }}"> Retour</a></button>
{% endblock %}
