{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | {{ participant.pseudo }}{% endblock %}

{% block body %}

    <div id="detail-div">
        {% if participant.champ %}
        <div id="detail-img" style="background-image: url('{{ asset('img/imageprofil/' ~ participant.champ) }}');">

           {# <img src="{{ asset('img/imageprofil/' ~ participant.champ) }}">#}
            {% else %}
            <div id="detail-img" style="background-image: url('{{ asset('img/defaultimageprofil.png') }}');">

        {% endif %}
    </div>
        <div class="p-infos-show">
            <h1>{{ participant.pseudo }}</h1>
            <div><label>Prénom:</label> {{ participant.prenom }}</div>
            <div><label>Nom:</label> {{ participant.nom }}</div>
            <div><label>Téléphone:</label> {{ participant.telephone }}</div>
            <div><label>Email:</label> {{ participant.email }}</div>
            <div><label>Campus:</label> {{ participant.campus.nom }}</div>
        </div>
    </div>
    <button id="btt"><a href="{{ path('main_home') }}"> Retour</a></button>
{% endblock %}