{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    <a href="{{ path('main_home') }}"><button>Annuler</button></a>
    {{ form_end(form) }}
{% endblock %}