{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <h1>Index des participants {{ actif ? 'actifs' : 'désactivés' }}</h1>

    <form>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Pseudo</th>
                    <th>Telephone</th>
                    <th>Roles</th>
                    <th>Administrateur</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for participant in participants %}
                <tr>
                    <td>{{ participant.id }}</td>
                    <td>{{ participant.nom }}</td>
                    <td>{{ participant.prenom }}</td>
                    <td>{{ participant.email }}</td>
                    <td>{{ participant.pseudo }}</td>
                    <td>{{ participant.telephone }}</td>
                    <td>{{ participant.roles ? participant.roles|json_encode : '' }}</td>
                    <td>{{ participant.administrateur ? 'Yes' : 'No' }}</td>
                    <td><input type="checkbox" name="cb[{{ participant.id }}]" id="{{ participant.id }}" style="width: 20px"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="hidden" name="_token" value="{{ csrf_token('delete-items') }}">
        <button formaction="{{ path('participant_deleter') }}" value="supprimer" formmethod="post" onclick="return confirm('Voulez-vous vraiment supprimer les personnes séléctionnées ?');">supprimer</button>

        <input type="hidden" name="_token" value="{{ csrf_token('desactive-items') }}">
        <button formaction="{{ path('participant_desactiver',{'actif':actif}) }}" value="desactiver" formmethod="post" onclick="return confirm('Voulez-vous vraiment {{ actif ? 'désactiver' : 'activer' }} les personnes séléctionnées ?');">{{ actif ? 'Désactiver' : 'Activer' }}</button>
    </form>

    <a href="?actif={{ actif ? '0' : '1' }}">Vers tableau des participants {{ actif ? 'désactivés' : 'actifs' }}</a>

    <ul class="pagination">
        {% set pages = (total/limit)|round(0,'ceil') %}
        {% set min = (page-3 >= 1) ? (page-3) : 1 %}
        {% set max = (page+3 <= pages) ? (page+3) : pages %}
        <li class="{{ (page == 1) ? 'disable' : '' }}">
            <a href="?page=1">
                <i class=""><<</i>
            </a>
        </li>
        <li class="{{ (page == 1) ? 'disable' : '' }}">
            <a href="{{ (page > 1) ? '?page=' ~ (page-1) : '' }}">
                <i class=""><</i>
            </a>
        </li>

        {% if min != 1 %}
            <li>
                <p>...</p>
            </li>
        {% endif %}

        {% for i in min..max%}
            <li class="{{ (page == i) ? 'active' : '' }}">
                <a href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endfor %}

        {% if max != pages %}
        <li>
            <p>...</p>
        </li>
        {% endif %}

        <li class="{{ (page == pages ) ? 'disable' : '' }}">
            <a href="{{ (page < pages) ? '?page=' ~ (page+1) : '' }}">
                <i class="">></i>
            </a>
        </li>
        <li class="{{ (page == pages) ? 'disable' : '' }}">
            <a href="?page={{ pages }}">
                <i class="">>></i>
            </a>
        </li>
    </ul>

{% endblock %}
