{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Home
{% endblock %}
{% block body %}

    <div>Bienvenue !</div>
    <div><p>Date du jour: {{ "now"|date('d/m/Y') }}</p>
       <p> Participant: {{ utilisateur.pseudo}}</p>
    </div>
    {{ form_start(sortieFiltreForm) }}
    {{ form_widget(sortieFiltreForm) }}
    {{ form_end(sortieFiltreForm) }}
    <table>
        <thead>
            <tr>
               <th>
                   Nom de la sortie
               </th>
                <th>
                    Date de la sortie
                </th>
                <th>
                    Cloture
                </th>
                <th>
                    Inscrits/Places
                </th>
                <th>
                    État
                </th>
                <th>
                    Inscrit
                </th>
                <th>
                    Organisateur
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        {% for sortie in sorties %}
        <tr>
            <th>
                {{ sortie.nom }}
            </th>
            <th>
                {{ sortie.dateHeureDebut|date('d-m-Y H:i') }}

            </th>
            <th>

                {{ sortie.dateLimiteInscription|date('d-m-Y') }}
            </th>
            <th>
                Inscrits/{{ sortie.nbInscriptionsMax }}
            </th>
            <th>
                {{sortie.etat.libelle}}
            </th>
            <th>
                Inscrit
            </th>
            <th>
                Organisateur
            </th>
            <th>
                <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}" >S'inscrire</a>
            </th>
        </tr>
        {% endfor %}
    </table>

{% endblock %}