{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Home
{% endblock %}
{% block body %}


    <div id="bonjour">
        <p>Bienvenue !</p>
        <p>Date du jour: {{ "now"|date('d/m/Y') }}</p>
        <p> Participant: {{ utilisateur.pseudo}}</p>
    </div>
    {{ form_start(sortieFiltreForm) }}
    {{ form_widget(sortieFiltreForm) }}
    {{ form_end(sortieFiltreForm) }}
    <table>
        <thead>
            <tr>
               <th>
                   Nom de la sortie
               </th>
                <th>
                    Date de la sortie
                </th>
                <th>
                    Cloture
                </th>
                <th>
                    Inscrits/Places
                </th>
                <th>
                    État
                </th>
                <th>
                    Inscrit
                </th>
                <th>
                    Organisateur
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        {% for sortie in sorties %}
        <tr>
            <th>
                {{ sortie.nom }}
            </th>
            <th>
                {{ sortie.dateHeureDebut|date('d-m-Y H:i') }}

            </th>
            <th>

                {{ sortie.dateLimiteInscription|date('d-m-Y') }}
            </th>
            <th>
                {{ sortie.participants|length }} /{{ sortie.nbInscriptionsMax }}
            </th>
            <th>
                {{sortie.etat.libelle}}
            </th>
            <th>
                {% for participant in sortie.participants %}
                    {% if participant.id == utilisateur.id %}
                        X
                    {% endif %}
                {% endfor %}
            </th>
            <th>
               <a href="{{ path('participant_details',{'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
            </th>
            <th>
                <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}" >S'inscrire</a> , <a href="{{ path('sortie_details', {'id': sortie.id}) }}" >Afficher</a>
            </th>
        </tr>
        {% endfor %}
    </table>

{% endblock %}