{% extends 'base.html.twig' %}
{% block title %}{% endblock %}


{% block body %}
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <div>
        <label for="villes">Villes</label>
        <select id="villes" name="villes">
            {% for ville in villes %}
                <option value="{{ ville.id }}">{{ ville.nom }}</option>
            {% endfor %}</select>
    </div>
    <div>
        <label for="lieux">Lieux</label>
        <select id="lieux" name="lieux">
        </select>

        <a href="{{ path('lieu_create') }}" id="lienCreerLieux">
            <img src="{{asset('img/creerlieu.png')}}" id="creerLieu"/>
        </a>
    </div>

    <p id="rue">
        Rue : <strong></strong>
    </p>
    <p id="cp">
        Code Postal : <strong></strong>
    </p>
    <p id="latitude">
        Latitude : <strong></strong>
    </p>
    <p id="longitude">
        Longitude : <strong></strong>
    </p>

    <input type="submit" value="valider">
    {{ form_end(sortieForm) }}
{% endblock %}

{% block scripts %}
    <script>
       let id_ville;
       let id_lieu;
       let dataResp;
       function searchLieu(ville) {
           id_ville= ville;
           $.ajax({
               method: "POST",
               url: "{{ path('sortie_recherche_ajax') }}",
               data: {id: id_ville},
               dataType: 'JSON',
               success: function(data){
                   dataResp = (JSON.parse(data));
                   $("#lieux").empty();
                   for (let i of dataResp){
                       console.log(i.nom);
                       $optionLieu= $('<option value="'+ i.id +'">'+ i.nom + '</option>');
                       $("#lieux").append($optionLieu);
                   }
                   $("#rue>strong").text(dataResp[0].rue);
                   $("#cp>strong").text(dataResp[0].ville.codePostal);
                   $("#latitude>strong").text(dataResp[0].latitude);
                   $("#longitude>strong").text(dataResp[0].longitude);
               }
           });
       }
        $( document ).ready(function() {
            searchLieu(1);
            $("#villes").change(function () {
                id_ville= $(this).val();
                searchLieu(id_ville);
            });
            $("#lieux").change(function() {
                id_lieu = $(this).val();
                for (let lieu of dataResp){
                    if (lieu.id == id_lieu){
                        console.log(lieu);
                        $("#rue>strong").text(lieu.rue);
                        $("#cp>strong").text(lieu.ville.codePostal);
                        $("#latitude>strong").text(lieu.latitude);
                        $("#longitude>strong").text(lieu.longitude);
                    }

                }


            });
        });

    </script>

{% endblock %}









