{% extends 'base.html.twig' %}
{% block title %}{% endblock %}


{% block body %}
    <h2>{{ sortie.nom }}</h2>
    <table id="detailSortie">
        <tbody>
            <tr>
                <th class="detailEnonce">Date et heure de début</th>
                <th class="detailLibelle">{{ sortie.dateHeureDebut |date('d-m-Y H:i')}}</th>
                <th class="detailEnonce">Campus</th>
                <th class="detailLibelle">{{ sortie.campus.nom }}</th>
            </tr>
            <tr>
                <th class="detailEnonce">Date limite d'inscription</th>
                <th class="detailLibelle">{{ sortie.dateLimiteInscription |date('d-m-Y') }}</th>
                <th class="detailEnonce">Lieu</th>
                <th class="detailLibelle">{{ sortie.lieu.nom }}</th>
            </tr>
            <tr>
                <th class="detailEnonce">Nombre de places</th>
                <th class="detailLibelle">{{ sortie.nbInscriptionsMax }}</th>
                <th class="detailEnonce">Rue</th>
                <th class="detailLibelle">{{ sortie.lieu.rue }}</th>
            </tr>
            <tr>
                <th class="detailEnonce">Durée</th>
                <th class="detailLibelle">{{ sortie.duree }} minutes</th>
                <th class="detailEnonce">Code postal</th>
                <th class="detailLibelle">{{ sortie.lieu.ville.codePostal }}</th>
            </tr>
            <tr>
                <th class="detailEnonce" rowspan="2">Description et infos</th>
                <th class="detailLibelle" rowspan="2">{{ sortie.infosSortie }}</th>
                <th class="detailEnonce">Latitude</th>
                <th class="detailLibelle">{{ sortie.lieu.latitude }}</th>
            </tr>
            <tr>

                <th class="detailEnonce">Longitude</th>
                <th class="detailLibelle">{{ sortie.lieu.longitude }}</th>
            </tr>
        </tbody>
    </table>
    <h4>Liste des participants inscrits</h4>
    <table>
        <thead>
        <tr>
            <th>
                Pseudo
            </th>
            <th>
                Nom
            </th>
        </tr>

        </thead>
        <tbody>
            <tr>
                {% for participant in sortie.participants %}
                    <th>{{ participant.pseudo }}</th>
                    <th>{{ participant.nom }}</th>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}