<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sortir.com{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" href="{{ asset('img/logo2popMin.jpg') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block scripts %}{% endblock %}
    <style>
        .l{background-image: url("{{asset('img/bg1.jpg')}}") ;}
        .r{background-image: url("{{asset('img/bg2.jpg')}}");}
    </style>
</head>
<body>
<div class="bg l"></div>
<div class="bg r"></div>

    <header>
        <div class="container">
            <a href="{{ path('main_home') }}">
                <img src="{{ asset('img/logo.png') }}" alt="Sortir.com" id="logo">
            </a>
            {% include('inc/nav.html.twig') %}
        </div>
    </header>

    <main>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <h4>Sortir.com &copy; {{ "now" | date("Y") }}</h4>
        </div>
    </footer>
</body>

</html>